@media (max-width: 720px) {
    /*Nav*/
    .nav{
        align-items: center;
    }
    .nav p{
        font-size: 12px;
        white-space: pre-line;
    }
    .nav li{
        font-size: 12px;
    }

    /*프로필*/
    .profile{
        text-align: center;
        flex-direction: column;
        margin-top: 40px;
    }
    .profileContent{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .profileText{
        margin-top: 20px;
    }

    /*첫번째 섹션*/
    .first{
        margin: 10px;
    }
    .firstSection p{
        font-size: 13px;
        text-align: start;
    }
}